.container {
    display: block;
    padding: 0 0 1rem 0;
    margin-top: .5em;
    width: 160px;
    background-color: var(--blanco);
    box-shadow: 4px 4px 4px rgb(14, 94, 200);
}
.capa {
    width: 100%;
}
.container img,
.favorito {
    padding: 0;
}
.container h2 {
    font-size: 1.5rem;
    padding: 0 1rem;
    box-sizing: border-box;
}
.favorito {
    margin-left: 10px;
    width: 25px;
}
.link {
    text-decoration: none;
    color: inherit;
    text-align: left;
}
@media (min-width: 1440px) {
    .container {
        width: 280px;
    }
}