:root{
  --font:"Montserrat", sans-serif;
  --blanco:#fff;
  --negro:#222;
  --gris:#e2e2e2;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  margin: 0;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}