.capa {
    width: 100%;
    height: 215px;
    /* height: 500px; */
    background-size: cover;
    background-repeat: no-repeat;
}
.gradient {
    height: 100%;
    width: 100%;
    opacity: .5;
}
@media (min-width: 768px) {
    .capa {
        height: 440px;
    }
}
@media (min-width: 1440px) {
    .capa {
        height: 700px;
    }
}